  
  
  <div id="carouselExample1" class="carousel slide z-depth-1-half rounded-6" data-ride="carousel">
      <div class="carousel-inner p-0">
        <div class="carousel-item active">
          <img class="d-block photo rounded-6 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt="First slide">
        </div>
        
        <div class="carousel-item">
          <img class="d-block photo rounded-6 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block photo rounded-6 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Third slide">
        </div>
      </div>
    </div>

