<div class="row">
  <div class="col-1">
    <img
      src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="rounded-circle bg-transparent shadow-0"
      alt="avatar"
      height="50px"
      width="50px"
    />
  </div>

  <div class="col-6 ml-2">
    <!-- <button class="btn btn-hover border border-4 shadow-0 post text-left">
      <b class="text-muted pl-2">Start a post</b>
    </button> -->
    <app-post-modal
      #postModal
      [attachment]="attachment"
      [attachmentType]="attachmentType"
      (changeEv)="getPosts()"
    ></app-post-modal>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 d-flex justify-content-around">
    <button
      class="btn btn-hover shadow-0"
      (click)="tempAttachmentType = 'image'; imageInp.click()"
    >
      <i class="fa fa-image fa-lg photo"></i>
      <b class="text-muted pl-2">Photo</b>
    </button>

    <input
      type="file"
      accept=".jpg,.png,.gif"
      hidden
      #imageInp
      (change)="openPost($event)"
    />
    <!-- (change)="fileProgress($event)" -->

    <button
      type="button"
      class="btn btn-hover shadow-0"
      (click)="tempAttachmentType = 'video'; videoInp.click()"
    >
      <i class="fa fa-youtube-play fa-lg video"></i>
      <b class="text-muted pl-2">Video</b>
    </button>

    <input
      type="file"
      accept=".mp4"
      hidden
      #videoInp
      (change)="openPost($event)"
    />

    <button type="button" class="btn btn-hover shadow-0">
      <i class="fa fa-calendar fa-lg event"></i>
      <b class="text-muted pl-2">Event</b>
    </button>
    <button type="button" class="btn btn-hover shadow-0">
      <i class="fa fa-book fa-lg article"></i>

      <b class="text-muted pl-2"> Write article</b>
    </button>
  </div>
</div>
