@import "~bootstrap/dist/css/bootstrap.css";

.photo {
  color: #70b5f9;
}

.video {
  color: rgb(127, 193, 94);
}

.event {
  color: rgb(231, 163, 62);
}

.article {
  color: rgb(245, 152, 126);
}

.post {
  width: 480px;
  border-radius: 50px;
  height: 50px;
}

.btn-hover:hover {
  background-color: lightgray;
}
