<app-tool-bar class="mb-4"></app-tool-bar>
<div class="container my-2">
  <div class="rounded-6 d-flex flex-column align-items-start mt-3">
    <img
      class="row img-profile w-101 h-50"
      src="https://media-exp1.licdn.com/dms/image/C4E1BAQHGBTdi_aPf7A/company-background_10000/0/1575869675758?e=2159024400&v=beta&t=_1pyLA2_2xdpNYJbD2u6T47zz58KAPxAFqiDEd7RdpY"
      alt=""
    />
    <img
      class="dpimage rounded-circle mt-9"
      src="https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-142984111.jpg"
      alt="Card image"
    />

    <div class="row">
      <div class="col-sm-6 colprofilename">
        <h4 class="profilename pl-5 pt-3 fw-bold">
          {{ userData.firstName + " " + userData.lastName }}
        </h4>
        <p class="profilename1 pl-5">
          Software Development Engineer at TruKKer
        </p>
        <p class="profilename2 pl-5 pt-0">
          Koppal, Karnataka, India <a class="koppal" href="#">.31 connection</a
          ><span><a class="contact" href="#">.Contact Information</a></span>
        </p>
      </div>
      <div class="col-sm-6 imagetrukkervtu">
        <a class="trukker d-flex align-items-center" href="#">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E0BAQH0GIYfCfmChw/company-logo_100_100/0/1601546634150?e=1626307200&v=beta&t=hQKN8Vn4uSFzTpNZHIl1Jtv_xd36WEaEglSEy4cHaq4"
            class="trukkerImage pt-4"
          /><span class="truck pl-3">Trukker</span>
        </a>
        <div class="vtu pt-3">
          <a class="trukker" href="#">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D0BAQEXLsH7UX9uMw/company-logo_100_100/0/1519865269158?e=1626307200&v=beta&t=XrHSO277WVxgv15ZohsZRH2LQAmaq1cDYho_psPR0WI"
              class="rcb"
            />
            <span class="truck pl-2"
              >Visvesvaraya Technological University</span
            >
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="dropdown pl-5">
            <button
              class="btn btn-primary dropdown-toggle btn-md mx-1 btns"
              type="button"
              data-toggle="dropdown"
            >
              Open to
            </button>
            <button
              class="btn btn-secondary dropdown-toggle mx-1 btns"
              type="button"
              data-toggle="dropdown"
            >
              Add profile section
            </button>
            <button
              class="btn btn-secondary dropdown-toggle mx-1 btns"
              type="button"
              data-toggle="dropdown"
            >
              More...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
