.btns {
  border-radius: 25px;
  text-transform: none;
}
.dpimage {
  width: 250px;
  height: 250px;
  position: absolute;
}
.mt-9 {
  margin-top: 7rem;
  margin-left: 2rem;
}
.colprofilename {
  padding-top: 80px;
  width: 110%;
}
.imagetrukkervtu {
  padding-top: 50px;
  padding-left: 70px;
}
.w-101 {
  width: 101%;
}
.pt-4 {
  width: 40px;
}
.rcb {
  width: 50px;
}
