<app-tool-bar></app-tool-bar>
<div class="main-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-10 mt-5">
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <div class="row p-2 justify-content-center sticky-top">
              <div class="col-12 border bg-white rounded-lg shadow p-3">
                <b> Manage my network </b>
                <br />
                <i class="fas fa-user-friends fa-lg"> connections </i>
                <br />
                <i class="fas fa-users-class">Teammates</i>
                <br />
                <i class="far fa-address-book fa-lg">Contacts</i>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
              </div>
            </div>
            <!-- <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-light rounded-lg shadow">
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
                <p>
                  The meta elements of this document describe the document and
                  its keywords.
                </p>
              </div>
            </div> -->
          </div>
          <div class="col-8">
            <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-white rounded-6 shadow">
                <div class="row p-2">
                  <div class="col-4">
                    <p class="font-weight-bold text-left pt-2">
                      No pending invitations
                    </p>
                  </div>
                  <div class="col-8">
                    <button class="btn btn-hover shadow-0 float-right">
                      <b class="text-muted">Manage</b>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-white rounded-lg shadow p-2">
                <!-- <b class="text-left p-2"> Software Engineers you may know </b> -->

                <div class="row p-2">
                  <div class="col-6">
                    <p class="font-weight-bold text-left pt-2">
                      Software Engineers you may know
                    </p>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-hover shadow-0 float-right">
                      <b class="text-muted">See all</b>
                    </button>
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQFbaThNMnTsug/profile-displayphoto-shrink_800_800/0/1597303261378?e=1623283200&v=beta&t=zyGFlSHXH7jbGRNlFUjIOiSFJ8XpWFF31qiLIfKfyO4"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5103AQE34a7ay2y-MQ/profile-displayphoto-shrink_800_800/0/1563261753695?e=1623283200&v=beta&t=Bu4_ERE4Mcqm-jdcqTPxqiRKXkihWi4uj3_xJTWQE70"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Ankit Kumar Soni
                        </h5>
                        <p class="card-text">software developer</p>
                        <p class="card-text">5 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQFJVf2SD81uZg/profile-displayphoto-shrink_800_800/0/1599902833546?e=1623283200&v=beta&t=TTiC-geIv3BB8uhB9W027WrBxjqTeryF0YJObKbiIsE"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sagar Devanga
                        </h5>
                        <p class="card-text">Software developer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- start -->
                <div class="row p-2">
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5103AQHKC82SelwkvQ/profile-displayphoto-shrink_800_800/0/1570983687868?e=1623283200&v=beta&t=86OlipY-Ty63K0dNV2TaX5WO_qs8K8gwozMOGzaBMrI"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Inderjot Singh
                        </h5>
                        <p class="card-text">Software Developer</p>
                        <p class="card-text">8 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQE3O3DkJOODkg/profile-displayphoto-shrink_800_800/0/1609124106640?e=1623283200&v=beta&t=PGIxDYfCLtizj5CccrQQpfTgQe0UprYarvHvR-kuP7w"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Vaishak Chandra
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">8 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="card d-flex flex-column align-items-center rounded-6 border"
                    >
                      <div class="row rounded-top-6 img-pro"></div>
                      <img
                        class="dpimage rounded-circle mt-3"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQHUlSyvnVCPtw/profile-displayphoto-shrink_800_800/0/1517661363009?e=1623283200&v=beta&t=i2WIZ3PJUdJal4yF0VBZf0itBHnPrioe1wiSM0pebBk"
                        alt="Card image"
                        height="120px"
                        width="120px"
                      />
                      <div class="card-body text-center mt-5">
                        <h5 class="card-title font-weight-bold">
                          Sadanand Roy
                        </h5>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">2 mutual connections</p>

                        <a href="#" class="btn btn1 bg-white">
                          <p
                            class="text-primary font-weight-bold text-capitalize"
                          >
                            Connect
                          </p></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
