@import "~bootstrap/dist/css/bootstrap.css";

.btn-hover:hover {
  background-color: lightgray;
}

.btn1 {
  background-color: black;
  width: -webkit-fill-available;
  border-radius: 40px;
  height: 40px;
}
.dpimage {
  position: absolute;
  top: 0;
}

.rounded-6 {
  border-radius: 10px;
}

.rounded-top-6 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-pro {
  height: 80px;
  width: 222px;
  background-color: #a0b4b7;
}

.main-container {
  background-color: #f3f2ef;
  min-height: 100vh;
}
