<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center my-3">
    <div class="fs-6 fw-bold">LinkedIn News</div>
    <button
      class="border-0 bg-transparent"
      data-toggle="tooltip"
      data-html="true"
      title="These are the day’s top professional news stories and conversations. <a href='https://www.linkedin.com/help/linkedin/answer/72665' target='_blank'>Learn more</a> about how they’re selected."
    >
      <i class="fas fa-info-circle"></i>
    </button>
  </div>
  <div class="col-12 p-0">
    <ul class="text-start pl-6 newsItem" *ngFor="let key of slicedKeys">
      <div class="">
        <li class="fw-bold">{{ allNews[key].title }}</li>
        <div>
          <span class="fs-tiny">{{ momentCalc(allNews[key].date) }}</span
          ><i
            class="fas fa-circle mx-2"
            style="font-size: 4px; color: black"
          ></i
          ><span class="fs-tiny">{{ allNews[key].readBy }} readers</span>
        </div>
      </div>
    </ul>
  </div>
  <!-- style="font-size: 5px; color: black" -->
  <div class="col-12 text-start pb-2">
    <button
      class="mx-3 rounded border-0 showMoreBtn fs-tiny p-1"
      (click)="showMore()"
    >
      {{ more ? "Show More" : "Show Less" }}
      <i class="fas fa-chevron-{{ more ? 'down' : 'up' }}"></i>
    </button>
  </div>
</div>
