<!-- <app-tool-bar></app-tool-bar> -->
<div class="main-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-10 mt-5">
        <div class="row d-flex justify-content-center">
          <div class="col-3">
            <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-light rounded-lg shadow">
                <app-profile-card></app-profile-card>
              </div>
            </div>
            <div class="row p-2 justify-content-center sticky-top">
              <div class="col-12 border bg-light rounded-lg shadow">
                <app-event></app-event>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-white rounded-6 shadow p-3">
                <app-post (changeEv)="getPosts()"></app-post>
              </div>
            </div>
            <hr />
            <ng-container *ngIf="!loading">
              <div *ngFor="let key of keys | reverse; index as i">
                <app-postcards
                  [allPosts]="allPosts"
                  [allUsers]="allUsers"
                  [postKey]="key"
                  [index]="i"
                  (changeEv)="getPosts()"
                ></app-postcards>
              </div>
            </ng-container>
            <!-- <app-postcards></app-postcards>
            <app-postcards></app-postcards>
            <app-postcards></app-postcards>
            <app-postcards></app-postcards>
            <app-postcards></app-postcards> -->
          </div>
          <div class="col-3">
            <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-light rounded-6 shadow text-center">
                <app-news></app-news>
              </div>
            </div>
            <div class="row p-2 justify-content-center">
              <div class="col-12 border bg-light rounded-6 shadow">
                <app-learning></app-learning>
              </div>
            </div>
            <div class="row p-2 justify-content-center sticky-top">
              <div class="col-12 border bg-light rounded-lg play">
                <app-scrollspy></app-scrollspy>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
