@import "~bootstrap/dist/css/bootstrap.css";
.img{
    width: 130px;
    height: 80px;
    padding-bottom:20px
}
.btn-space {
    margin-right: 10px;
    border-radius: 25px;
    text-transform: none;
}

h1{
    color: #2977c9;
    font-family:sans-serif;  
}
