  <div class="container">
  <div class="row">
      <div class="col-xl-8">
          <a class="navbar-brand" href="#"><img src="https://www.onrec.com/sites/onrec/directory/files/Linkedin-Logo.png" class="img" alt="">
          </a>
          
      </div>
      <div class="col-xl-4 pt-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button  type="button"class=" btn btn-white btn-space" (click)="signUpHandler()">Join now</button>
              <button class="btn btn-outline-primary btn-space"  (click)="signinHandler()"type="button"  >Sign in</button>
            </div>
      </div>
  </div>
  <div class="row" >
      <div class="col-xl-6">
          <h1 class="text-start pb-5 display-4 " >Open jobs. People hiring.</h1>  
          <form [formGroup]="profileForm">  
      <div class="col-md-10 pl-0">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input id="search" name="search" type="text" placeholder="Search" formControlName="search" ngModel placeholder="search" class="form-control form-control-lg">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
            </div>
            <input id="location" name="location" type="text" placeholder="location" formControlName="location" ngModel placeholder="location" class="form-control form-control-lg">
          </div>
  </div> 
          </form>
            <button class="btn btn-primary bg-#004181 my-2 my-sm-0 btn-space" type="submit"  (click)="save()">Search jobs</button> 
      </div>
      <div class="col-xl-6"> <img  src="https://static-exp1.licdn.com/sc/h/dxf91zhqd2z6b0bwg85ktm5s4" width="650" height="600"  alt="Welcome to your professional community" />
</div>
  </div>
</div>

