<div class="rounded-6 bg-transparent d-flex flex-column align-items-center">
  <img
    class="row rounded-top-6 img-pro"
    src="https://media-exp1.licdn.com/dms/image/C4E1BAQHGBTdi_aPf7A/company-background_10000/0/1575869675758?e=2159024400&v=beta&t=_1pyLA2_2xdpNYJbD2u6T47zz58KAPxAFqiDEd7RdpY"
    alt=""
  />
  <img
    class="dpimage rounded-circle mt-3"
    src="https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-142984111.jpg"
    alt="Card image"
    height="120px"
    width="120px"
  />
  <div class="card-body text-center mt-3">
    <h5 class="card-title fw-bold grow" (click)="profile()">
      {{ userData.firstName + " " + userData.lastName }}
    </h5>
    <div class="card-text fs-7">Frontend Developer at Trukker</div>
    <hr />
    <div class="d-flex justify-content-between text-start align-items-center">
      <div class="d-flex flex-column fs-7">
        <div class="connection">Connections</div>
        <div class="fs-7 fw-bold grow">Grow your network</div>
      </div>
    </div>
    <hr />
    <div class="d-flex align-items-center grow">
      <i class="fas fa-bookmark"></i>
      <div class="mx-3">My Items</div>
    </div>
  </div>
</div>
