.img{
    width:55px;
    height: 70px;
    border-radius: 50%;
    
    
}
.user {
    background: url('https://media-exp1.licdn.com/dms/image/C4E1BAQHGBTdi_aPf7A/company-background_10000/0/1575869675758?e=2159024400&v=beta&t=_1pyLA2_2xdpNYJbD2u6T47zz58KAPxAFqiDEd7RdpY') center / cover no-repeat;
  }
  .text-center {
    padding-top: 40px;
    
}
.img-pro {
  height: 85px;
  width: 300px;
  background-color: #A0B4B7;
}
.dpimage {
  position: absolute;
  top: 0;
}
.rounded-top-6 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grow:hover,
.connection:hover{
  background-color:rgba(5, 5, 5, 0.096); ;
}
.connection,
.grow{
  cursor: pointer;
}