<ng-template #longContent let-modal modal-right>
  <div class="modal-header">
    <h4 class="modal-title">Work</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      float-right
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus
      ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
      ac, vestibulum at eros.
    </p>
    <p>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
      Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
      magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor fringilla.
    </p>
  </div> -->
  <div class="modal-body">
    <div class="card">
      <div class="card-header bg-white font-weight-bold">
        Visit More LinkedIn Products
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 d-flex justify-content-around">
            <div class="col-3">
              <button class="btn">
                <i class="fa fa-book-reader fa-lg"></i>
              </button>
              <small class="text-muted text-center text-capitalize"
                >Learning</small
              >
            </div>
            <div class="col-3">
              <button class="btn">
                <i class="fa fa-bar-chart fa-lg"></i>
              </button>
              <small class="text-muted text-center text-capitalize"
                >Insights</small
              >
            </div>
            <div class="col-3">
              <button class="btn"><i class="fa fa-tasks fa-lg"></i></button>
              <small class="text-muted text-center text-capitalize"
                >PostJob</small
              >
            </div>
            <div class="col-3">
              <button class="btn"><i class="fa fa-ad fa-lg"></i></button>
              <small class="text-muted text-center text-capitalize"
                >Advertise</small
              >
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 d-flex justify-content-around">
            <div class="col-3">
              <button class="btn">
                <i class="fa fa-search fa-lg"></i>
              </button>
              <small class="text-muted text-center text-capitalize"
                >Find Leads</small
              >
            </div>
            <div class="col-3">
              <button class="btn"><i class="fa fa-users fa-lg"></i></button>
              <small class="text-muted text-center text-capitalize"
                >Groups</small
              >
            </div>
            <div class="col-3">
              <button class="btn"><i class="fa fa-bars fa-lg"></i></button>
              <small class="text-muted text-center text-capitalize"
                >ProFinder</small
              >
            </div>
            <div class="col-3">
              <button class="btn"><i class="fa fa-money fa-lg"></i></button>
              <small class="text-muted text-center text-capitalize"
                >Salary</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header bg-white font-weight-bold">
        LinkedIn Business Services
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="font-weight-bold">
          Talent Solutions
          <br /><small class="text-muted"
            >Find,attract and recruit talent</small
          >
        </p>

        <p class="font-weight-bold">
          Sales Solutions

          <br /><small class="text-muted">Unlock sales opportunities</small>
        </p>

        <p class="font-weight-bold">
          Post a job for free

          <br />
          <small class="text-muted"
            >Get your job in front of quality candidates</small
          >
        </p>

        <p class="font-weight-bold">
          Marketing Solutions
          <br />
          <small class="text-muted"
            >Aquire customers and grow your business</small
          >
        </p>

        <p class="font-weight-bold">
          Learning Solutions
          <br />
          <small class="text-muted"
            >Develop talent across your organisation</small
          >
        </p>
      </div>
      <div class="card-footer text-muted bg-white">Create a Company Page</div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<!-- <button
  class="btn btn-outline-primary mb-2 mr-2"
  (click)="openScrollableContent(longContent)"
>
  Modal scrollable content
</button> -->

<button
  class="border-0 bg-transparent dropdown-toggle"
  type="button"
  id="dropdownMenuButton"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
  (click)="openScrollableContent(longContent)"
>
  <a class="nav-link fs-7 text-dark">
    <i class="fas fa-th fa-2x"> </i>
  </a>
  Work
</button>
