@import "~bootstrap/dist/css/bootstrap.css";

.image {
  width: 200px;
  padding-top: 20px;
  display: block;
}

body {
  background-color: #f3f2ef;
  min-height: 100vh;
}

.text-head {
  text-align: center;
  font-size: 40px;
  color: black;
}

.btn1 {
  background-color: #0a66c2;
  width: -webkit-fill-available;
  border-radius: 40px;
  height: 60px;
}

a {
  color: #0a66c2;
}

.input-label {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.con {
  display: flex;
  justify-content: center;
}

.back-color {
  background: white;
}
