<body>
  <a href="#"
    ><img
      src="https://www.onrec.com/sites/onrec/directory/files/Linkedin-Logo.png"
      class="mx-auto image"
      alt=""
    />
  </a>
  <p class="text-head">Make the most of your professional life</p>
  <div class="container d-flex h-100">
    <div class="row align-self-center w-100">
      <div class="col-6 mx-auto">
        <div class="jumbotron back-color">
          <form [formGroup]="signupForm" *ngIf="!userFlag">
            <div>
              <label class="input-label" for="email"
                >Email or phone number
              </label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
                autocomplete="off"
                data-toggle="tooltip"
                data-placement="right"
                title="Please fill out this field"
                [class.is-valid]="email.valid && email.touched"
                [class.is-invalid]="email.invalid && email.touched"
              />
              <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <h5>
                  <small *ngIf="email.errors?.required" class="text-danger"
                    >Please enter your email address or mobile number.
                  </small>
                  <!-- <small *ngIf="email.errors?.pattern" class="text-danger"
                    >Pattern Not matching.
                  </small> -->
                </h5>
              </div>
            </div>
            <br />
            <div>
              <label class="input-label" for="password"
                >Password (6 or more characters)</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                autocomplete="off"
                data-toggle="tooltip"
                data-placement="right"
                title="Please fill out this field"
                [class.is-valid]="password.valid && password.touched"
                [class.is-invalid]="password.invalid && password.touched"
              />
              <div
                *ngIf="(password.invalid && password.touched) || password.dirty"
              >
                <h5>
                  <small *ngIf="password.errors?.required" class="text-danger"
                    >Please enter your password.
                  </small>
                  <small *ngIf="password.errors?.minlength" class="text-danger"
                    >Password must be 6 characters or more.
                  </small>
                </h5>
              </div>
            </div>
            <br />
            <p class="input-label">
              By clicking Agree & Join, you agree to the LinkedIn
              <a
                href="https://www.linkedin.com/legal/user-agreement?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fjobs&amp;
                trk=registration-frontend_join-form-user-agreement"
                ><b>User Agreement</b></a
              >,
              <a
                href="https://www.linkedin.com/legal/privacy-policy?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fjobs&amp;
                trk=registration-frontend_join-form-privacy-policy"
                ><b>Privacy Policy</b></a
              >, and
              <a
                href="https://www.linkedin.com/legal/cookie-policy?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fjobs&amp;
                trk=registration-frontend_join-form-cookie-policy"
                ><b>Cookie Policy</b></a
              >.
            </p>
            <div class="con">
              <button
                type="submit"
                class="btn btn1 btn-primary text-capitalize"
                (click)="signUp()"
              >
                <h5>Agree & Join</h5>
              </button>
            </div>
            <br />
            <div class="con">
              <h4>
                <small>
                  Already on LinkedIn?
                  <a routerLink="/login">Sign in</a>
                </small>
              </h4>
            </div>
          </form>

          <form [formGroup]="userDetailsForm" *ngIf="userFlag && !successFlag">
            <div>
              <label class="input-label" for="firstName">First name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName"
                autocomplete="off"
                data-toggle="tooltip"
                data-placement="right"
                title="Please fill out this field"
                [class.is-valid]="firstName.valid && firstName.touched"
                [class.is-invalid]="firstName.invalid && firstName.touched"
              />
              <div
                *ngIf="
                  (firstName.invalid && firstName.touched) || firstName.dirty
                "
              >
                <h5>
                  <small *ngIf="firstName.errors?.required" class="text-danger"
                    >Please enter your first name.
                  </small>
                </h5>
              </div>
            </div>
            <br />
            <div>
              <label class="input-label" for="lastName">Last name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
                autocomplete="off"
                data-toggle="tooltip"
                data-placement="right"
                title="Please fill out this field"
                [class.is-valid]="lastName.valid && lastName.touched"
                [class.is-invalid]="lastName.invalid && lastName.touched"
              />
              <div
                *ngIf="(lastName.invalid && lastName.touched) || lastName.dirty"
              >
                <h5>
                  <small *ngIf="lastName.errors?.required" class="text-danger"
                    >Please enter your last name.
                  </small>
                </h5>
              </div>
            </div>
            <br />
            <div class="con">
              <button
                type="button"
                class="btn btn1 btn-primary text-capitalize"
                (click)="userDetails()"
              >
                <h5>Continue</h5>
              </button>
            </div>
          </form>

          <div class="alert alert-success" role="alert" *ngIf="successFlag">
            <h4 class="alert-heading">
              Hi {{ firstName.value }} {{ lastName.value }},<br />
              You Are Successfully Registered to LinkedIn !
            </h4>
            <hr />
            <p>
              Please Click
              <a href="#" class="alert-link" routerLink="/login">Sign In</a> For
              Login Into Your LinkedIn Account.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
