<div class="container col-4">
  <div class="row justify-content-start">
    <a href="">
      <img
        class="logoImg col-4"
        src="https://bi-jingo.com/wp-content/uploads/1997/03/Linkedin-Logo.png"
    /></a>
  </div>
  <div
    class="formContainer row shadow p-3 mb-5 bg-white rounded"
    [formGroup]="profileForm"
  >
    <div class="signInHeader fw-bold fs-2">Sign in</div>
    <div class="signinSubHeader fw-light fs-6">
      Stay updated on your professional world
    </div>
    <div class="inputFields mt-4">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="emailOrPhone"
          (keydown)="signIn($event)"
          placeholder="name@example.com"
          formControlName="emailOrPhone"
          [class.is-invalid]="
            emailOrPhone?.errors?.required && emailOrPhone?.touched
          "
        />
        <label class="pt-3 pr-4" for="floatingInput">Email or Phone</label>
        <div
          *ngIf="
            emailOrPhone?.invalid &&
            (emailOrPhone?.dirty || emailOrPhone?.touched)
          "
        >
          <span
            class="errorMessage text-danger fw-bold"
            *ngIf="emailOrPhone?.errors?.required"
            >Please enter an email address or phone number</span
          >
          <span
            class="errorMessage text-danger fw-bold"
            *ngIf="emailIsInvalid && !emailOrPhone?.errors?.required"
            >Invalid Email/Phone</span
          >
          <!-- <span class="errorMessage" *ngIf="emailOrPhone?.errors?.pattern"
            >Please enter a valid email address or phone number</span
          > -->
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="{{ currentVisibility ? 'text' : 'password' }}"
          class="form-control"
          id="password"
          placeholder="name@example.com"
          formControlName="password"
          (keydown)="signIn($event)"
          [class.is-invalid]="password?.invalid && password?.touched"
        />
        <label class="pt-3 pr-4" for="floatingInput">Password</label>
        <span
          class="errorMessage text-danger fw-bold"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          Please enter a password
        </span>
        <!-- <span class="errorMessage text-danger fw-bold" *ngIf="incorrectInputs">
          You entered the incorrect email/password
        </span> -->
        <button
          id="password-visibility-toggle"
          class="passwordVisibility text-primary fw-normal border-0 fs-7"
          (click)="currentVisibility = !currentVisibility"
        >
          {{ currentVisibility ? "hide" : "show" }}
        </button>
      </div>
    </div>
    <a class="btn col-4 px-0 btn-link text-capitalize rounded-pill"
      >Forgot Password?</a
    >
    <div class="text-center">
      <span class="errorMessage text-danger fw-bold" *ngIf="incorrectInputs">
        You entered the incorrect email/password
      </span>
    </div>

    <button
      type="button"
      class="btn mx-auto btn-primary signInBtn my-3 rounded-pill"
      (click)="signIn($event)"
    >
      Sign In
    </button>
  </div>
  <div class="text-center">
    New to LinkedIn?
    <a
      class="btn btn-link p-1 rounded-pill text-capitalize"
      (click)="navToSignup()"
      >Join now</a
    >
  </div>
</div>
