.passwordVisibility {
  position: absolute;
  top: 1rem;
  left: 24vw;
  background-color: transparent;
}
.passwordVisibility:hover {
  background-color: rgba(161, 203, 252, 0.651);
  border-radius: 20px;
  width: 50px;
}
.errorMessage {
  font-size: 0.7rem;
}
.form-control.is-invalid {
  margin-bottom: 0;
}
.signInBtn {
  width: 95%;
  background-color: RGB(11, 102, 195);
  height: 50px;
}
.signInBtn:hover {
  background-color: rgb(7, 81, 155);
}
