.h-8 {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.ml-2rem {
  margin: 0.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.fs-tiny {
  font-size: 10px;
}
.fs-3px {
  font-size: 3px;
}
.likeButton {
  font-size: 1.5rem;
  cursor: pointer;
}
.likeButton:hover {
  background-color: rgba(0, 0, 0, 0.233);
}
.text-container {
  max-height: 400px;
  overflow-y: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.8em;
}
.commentContent {
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}
.commentInput {
  outline: none;
}
.commentBox {
  background-color: rgba(43, 43, 43, 0.068);
  border-radius: 0px 15px 15px 15px;
}
.w-15 {
  width: 15%;
}
.fs-8 {
  font-size: 0.8em;
}
.h-16scroll {
  max-height: 16rem !important;
  overflow-y: auto;
}
