<div class="row p-2 justify-content-center">
  <div class="col-12 border bg-light rounded-6 shadow">
    <div class="row mt-2">
      <div
        class="col-1 p-0 ml-2rem d-flex justify-content-center align-items-center"
      >
        <img class="rounded-circle h-8" [src]="avatars[index % 10]" alt="" />
        <!-- [src]="randomAvatarGenerator()" -->
      </div>
      <div
        class="col p-0 d-flex flex-column align-items-start justify-content-center"
      >
        <div class="fw-bold">
          {{ getNameById(allPosts[postKey].userId) }}
        </div>
        <!-- {{ getNameById(allPosts[postKey].userId) }} -->
        <div class="fs-tiny">FrontEnd Developer</div>
        <div class="fs-tiny d-flex align-items-center">
          <span class="">{{ momentCalc(allPosts[postKey].date) }}</span>
          <i class="fas fa-circle mx-3 fs-3px"></i>
          <i
            *ngIf="allPosts[postKey].privacy === 'anyone'"
            class="fas fa-globe-europe fs-6"
          ></i>
          <i
            *ngIf="allPosts[postKey].privacy === 'connections'"
            class="fas fa-user-friends fs-6"
          ></i>
        </div>
      </div>
    </div>

    <div class="row px-4 mt-3">
      <p class="text-container">
        {{ allPosts[postKey].content }}
      </p>
    </div>

    <div
      class="row justify-content-around pb-2"
      *ngIf="allPosts[postKey].type === 'image'"
    >
      <img class="col-11" [src]="allPosts[postKey].attachment" alt="" />
    </div>
    <div
      class="row justify-content-around pb-2"
      *ngIf="allPosts[postKey].type === 'video'"
    >
      <video class="col-11" controls>
        <source [src]="allPosts[postKey].attachment" type="video/mp4" />
        <source [src]="allPosts[postKey].attachment" type="video/ogg" />
        Your browser does not support HTML video.
      </video>
    </div>
    <div
      class="row justify-content-center pb-2"
      *ngIf="allPosts[postKey].type === 'file'"
    >
      <div class="col-11 text-center d-flex flex-column">
        <object [data]="getSafeUrl(allPosts[postKey].attachment)"></object>
        <a class="mt-2" [href]="allPosts[postKey].attachment" target="_blank"
          >Open file</a
        >
      </div>
      <!-- <a
       
        href="https://firebasestorage.googleapis.com/v0/b/intest-7e450.appspot.com/o/postImages%2FSEM%208.pdf?alt=media&token=8a6fd696-553b-4123-9a9f-c6b5e1d943e3"
        target="_blank"
        >See file</a
      > -->
    </div>

    <div class="row mx-3 py-2">
      <span class="col-auto fw-bold"
        ><i class="fas fa-thumbs-up fs-8 mr-2 text-primary"></i
        >{{ likes.length - 1 }} .
        <i class="fas fa-comment-dots fs-8 mr-1"></i>
        {{ this.allPosts[this.postKey].comments.length - 1 }}</span
      >
    </div>

    <div class="row mx-4 pb-2">
      <div
        class="col-3 d-flex justify-content-center likeButton p-1 rounded cursor-pointer"
        (click)="changeLike()"
      >
        <ng-container *ngIf="!like">
          <i class="fa fa-thumbs-up text-secondary"></i>
          <small class="fs-6 px-1">Like</small>
        </ng-container>
        <ng-container *ngIf="like">
          <i class="fa fa-thumbs-up text-primary"></i>
          <small class="fs-6 px-1">Unlike</small>
        </ng-container>
      </div>
      <div
        class="col-4 d-flex justify-content-center likeButton p-1 rounded cursor-pointer"
        (click)="toggleComment = !toggleComment"
      >
        <ng-container *ngIf="!toggleComment"
          ><i class="far fa-comment-alt"></i
        ></ng-container>
        <ng-container *ngIf="toggleComment"
          ><i class="fas fa-comment-alt text-primary"></i
        ></ng-container>
        <small class="fs-6 px-1">Comment</small>
      </div>
      <div
        class="col-3 d-flex justify-content-center likeButton p-1 rounded cursor-pointer"
      >
        <i class="fas fa-share"></i>
        <small class="fs-6 px-1">Share</small>
      </div>
      <div
        class="col-2 d-flex justify-content-center likeButton p-1 rounded cursor-pointer"
      >
        <i class="fas fa-paper-plane"></i>
        <small class="fs-6 px-1">Send</small>
      </div>
    </div>

    <div *ngIf="toggleComment" class="commentSection">
      <div class="row align-items-center mx-4 my-2">
        <div class="col-2 p-0">
          <img
            class="rounded-circle h-8"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOptjc4jaAMz7lLHwaJj6ILN74raLUsUWHRWzaTuizhBVbCS1fBX31pW3vbKqWqwG8dGQ&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col p-0">
          <input
            placeholder="Add a comment"
            #comment
            class="commentInput rounded-pill border-1 w-100 p-2 pl-3"
            type="text"
            [(ngModel)]="commentValue"
            (keydown.Enter)="addComment()"
          />
        </div>
        <div class="col-2">
          <button
            #submitComment
            class="btn-primary rounded-pill border-0 p-1 px-3 ml-1"
            (click)="addComment()"
          >
            Add
          </button>
        </div>
      </div>
      <div class="h-16scroll">
        <div
          *ngFor="
            let comment of allPosts[postKey].comments | reverse;
            let i = index
          "
        >
          <div class="row mx-4 my-3" *ngIf="!(comment === 'new')">
            <div class="col-2 p-0">
              <img class="h-8 rounded-circle" [src]="avatars[i % 10]" alt="" />
            </div>
            <div class="col-10 commentBox">
              <div class="d-flex flex-row fw-bold p-2 justify-content-between">
                <div>{{ getNameById(comment.userId) }}</div>
                <div>
                  <small class="font-weight-light">{{
                    momentCalc(comment.date)
                  }}</small>
                  <i class="fas fa-caret-down fs-6 ml-2"></i>
                </div>
              </div>
              <div class="commentContent px-2 pb-2">
                {{ comment.comment }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-2 p-0"></div> -->
<!-- <div class="row mx-4 my-3">
  <img
    class="h-8 rounded-circle border"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyz-77X11MoGE22xVjjPhbpW6lPj6I0SkcTQ&usqp=CAU"
    alt=""
  />
</div>
<div class="col-10 commentBox">
  <div class="d-flex flex-row fw-bold p-2 justify-content-between">
    <div>Coldplay</div>
    <div>
      <span>9h</span>
      <i class="fas fa-caret-down fs-6 ml-2"></i>
    </div>
  </div>
  <div class="commentContent p-2">
    Thanks Dean, just so sad & unfortunately the technology
    scams/fakes really can be detrimental to workflow. I'm forever
    vigilant, sometimes feel too much, although too many have been
    caught out😡
  </div>
</div>
</div> -->
