.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.img {
  width: 50px;
  height: 50px;
}
.nav-link {
  padding: 0rem 1rem;
}
.form-group {
  margin-bottom: 1rem;
  padding-top: 10px;
}
.navbar-brand {
  margin-right: 0px;
}
.text-center {
  font-size: 12px;
  padding-top: 10px;
}

.search-bg {
  background-color: #eef3f8;
}
.active-link {
  border-bottom: 2px solid black;
}
.btn {
  border-radius: 25px;
  text-transform: none;
}
.profile-card {
  width: 100px;
  height: 100px;
}
.card {
 border: none; 
}
.list-group:hover,
.signout:hover,
.account:hover{
  background-color:rgba(5, 5, 5, 0.096); ;
}
.list-group {
 cursor: pointer;
}
.account,
.signout{
 cursor: pointer;
}