<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center my-3">
    <div class="fs-6">Most viewed courses</div>
    <button
      class="border-0 bg-transparent"
      data-toggle="tooltip"
      data-html="true"
      title="These are the day’s top professional news stories and conversations. <a href='https://www.linkedin.com/help/linkedin/answer/72665' target='_blank'>Learn more</a> about how they’re selected."
    >
      <i class="fas fa-info-circle"></i>
    </button>
  </div>
  <div class="col-12 p-0">
    <ul class="text-start pl-6 newsItem " *ngFor="let key of values">
      <div class="">
        <li class="fw-bold">{{ title[key].title }}</li>
        <div>
          <span class="fs-tiny">{{ title[key].author }} </span>
        </div>
      </div>
    </ul>
  </div>
  
</div>
