@import "~bootstrap/dist/css/bootstrap.css";

.btn-hover:hover {
  background-color: lightgray;
}

.post1 {
  width: 150px;
  border-radius: 50px;
  height: 40px;
}

.rounded-6 {
  border-radius: 10px;
}

.drop {
  width: 100px;
  border-radius: 50px;
  height: 50px;
}

.post {
  width: 480px;
  border-radius: 50px;
  height: 50px;
}

.photo {
  color: #70b5f9;
}

.video {
  color: rgb(127, 193, 94);
}

.event {
  color: rgb(231, 163, 62);
}

.article {
  color: rgb(245, 152, 126);
}

.bg-footer {
  background-color: #f3f2ef;
}

.fa-times-circle:hover {
  color: red;
}
.fa-times-circle {
  height: min-content;
}
.cursor {
  cursor: pointer;
}
.postArea {
  outline: none;
}
