<ng-template #postmodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a post</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="form-group">
        <div class="row d-flex">
          <div class="col-1">
            <img
              src="https://media-exp1.licdn.com/dms/image/C5603AQFbaThNMnTsug/profile-displayphoto-shrink_800_800/0/1597303261378?e=1623283200&v=beta&t=zyGFlSHXH7jbGRNlFUjIOiSFJ8XpWFF31qiLIfKfyO4"
              class="rounded-circle bg-transparent shadow-0"
              alt="avatar"
              height="80px"
              width="80px"
            />
          </div>
          <div class="col-4 d-flex flex-column align-items-center">
            <div class="">
              <b class="text center">{{
                currentUser.firstName + " " + currentUser.lastName
              }}</b>
            </div>
            <div class="">
              <select
                class="custom-select rounded-pill"
                formControlName="privacy"
                required
              >
                <option value="anyone" selected>Anyone</option>
                <option value="anyone">Anyone + Twitter</option>
                <option value="connections">Connections only</option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="input-group">
          <textarea
            rows="10"
            cols="32"
            type="text"
            id="content"
            class="w-100 border-0 postArea"
            formControlName="content"
            placeholder="What do you want to talk about?"
            name="content"
          ></textarea>
        </div>
      </div>
    </form>

    <!-- start -->
    <div *ngIf="fb" class="text-center d-flex justify-content-center">
      <img
        width="600px"
        height="400px"
        src="{{ fb }}"
        alt=""
        *ngIf="modalForm.value.type === 'image'"
      />

      <object
        [data]="getSafeUrl(fb)"
        height="400px"
        width="600px"
        *ngIf="modalForm.value.type === 'file'"
      ></object>

      <video
        width="600px"
        height="400px"
        controls
        *ngIf="modalForm.value.type === 'video'"
      >
        <source src="{{ fb }}" type="video/mp4" />
        <source src="{{ fb }}" type="video/ogg" />
        Your browser does not support the video tag.
      </video>

      <i
        class="fas fa-times-circle fa-2x ml-2 cursor"
        (click)="typeOfPost('normal'); deleteImg()"
      >
      </i>
    </div>

    <!-- end -->

    <div>
      <div>
        <button type="button" class="btn btn-hover shadow-0">
          <!-- (click)="addHash()" -->

          <b class="text-primary">Add hashtag</b>
        </button>
      </div>
      <br />
      <div class="row">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-hover shadow-0 rounded-pill"
            data-toggle="collapse"
            href="#footer"
          >
            <i class="fa fa-plus fa-lg plus" aria-hidden="true"></i>
          </button>

          <button
            [class.disabled]="fb"
            type="button"
            class="btn btn-hover shadow-0 rounded-pill"
            (click)="typeOfPost('image'); imageInp.click()"
          >
            <i class="fa fa-image fa-lg photo"></i>
          </button>
          <input
            type="file"
            accept=".jpg,.png,.gif"
            hidden
            #imageInp
            (change)="onFileSelected($event)"
          />

          <button
            [class.disabled]="fb"
            type="button"
            class="btn btn-hover shadow-0 rounded-pill"
            (click)="typeOfPost('video'); videoInp.click()"
          >
            <i class="fa fa-youtube-play fa-lg video"></i>
          </button>

          <input
            type="file"
            accept=".mp4"
            hidden
            #videoInp
            (change)="onFileSelected($event)"
          />

          <button
            [class.disabled]="fb"
            type="button"
            class="btn btn-hover shadow-0 rounded-pill"
            (click)="typeOfPost('file'); fileInp.click()"
          >
            <i class="fas fa-file fa-lg article"></i>
          </button>

          <input
            type="file"
            accept=".pdf"
            hidden
            #fileInp
            (change)="onFileSelected($event)"
          />

          <button
            type="button vl"
            class="btn btn-hover rounded-pill shadow-0 text-capitalize"
          >
            <i class="fas fa-comment fa-lg event"></i>
            {{ privacy }}
          </button>

          <button
            type="button"
            class="btn shadow-0 float-right rounded-pill"
            (click)="SavePost()"
            style="background-color: #0a66c2; color: white"
            [disabled]="postDisabled || content === ''"
          >
            <!-- Post <i class="fa fa-spinner" *ngIf="postDisabled"></i> -->
            {{ postDisabled ? "Loading" : "Post" }}
            <span
              *ngIf="postDisabled"
              class="spinner-border spinner-border-sm"
              role="status"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-footer justify-content-center" id="footer">
    <button type="button" class="btn bg-light rounded-pill">
      Celebrate an occasion
    </button>

    <button type="button" class="btn bg-light rounded-pill">
      Find an expert
    </button>

    <button type="button" class="btn bg-light rounded-pill">
      Create a poll
    </button>
    <button type="button" class="btn bg-light rounded-pill">offer help</button>
    <button type="button" class="btn bg-light rounded-pill">
      Share that you are hired
    </button>
  </div>
</ng-template>

<button
  class="btn btn-hover border border-4 shadow-0 post text-left"
  (click)="open(postmodal)"
>
  <b class="text-muted pl-2">Start a post</b>
</button>
