p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.downimg{
    width: 50px;
    text-align: end;
}

  .newsItem:hover,
  .showMoreBtn:hover {
    background-color: rgba(5, 5, 5, 0.096);
  }
  .muthu {
    
    padding-left: 150px;
    padding-right: 7px;
  }
[data-toggle="collapse"] .fa:before {  
    content: "\f139";
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }
  .card{
      background-clip:none;
      border: none;
  }
  .card-header {
     padding:0px;
   background-color:whitesmoke;
     border-bottom:none;
  }
  .mhp{
      padding-left: 130px;
  }
 .list-group:hover,
 .discover:hover{
   background-color:rgba(5, 5, 5, 0.096); ;
 }
 .list-group {
  cursor: pointer;
}
.discover{
  cursor: pointer;
}