
  <div class="row">
    <div class="col-sm-12">
  <div id="accordion">
   
      <div class="card-header" id="headingOne">
       
          <a class="mn text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Recent <i class="fa  text-dark mhp" aria-hidden="true"></i>
            
          </a>
      
      
    </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <ul class="list dplist pl-0">
                <li class="list-group "># StartUp</li>
                <li class="list-group"># Hr</li>
                <li class="list-group"># Jobsearch</li>
                <li class="list-group"># Hiring</li>
                <li class="list-group"># India</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
      <a class="" href="#">Groups</a></div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <a class="" href="#">Events</a></div>
        <div class="col-sm-3 pl-0"><i class="fas fa-plus"></i></div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
      <div id="accordion">
       
          <div class="card-header" id="headingOne">
            
              <a class=" mn" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Followed Hashtags <i class="fa  text-dark mse pl-5" aria-hidden="true"></i>
                
              </a>
          
          
        </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul class="list pl-0">
                    <li class="list-group"># StartUp</li>
                    <li class="list-group"># Hr</li>
                    <li class="list-group"># Jobsearch</li>
                    <li class="list-group"># Hiring</li>
                    <li class="list-group"># India</li>
                  </ul>
            </div>
          </div>
      
  </div>
  <div class="col-12 text-start pb-2">
    <button class="mx-3 rounded border-0 showMoreBtn fs-tiny p-1" (click)="showMore()">
       {{ more ? "Show More" : "Show Less" }}
        <i class="fas fa-chevron-{{ more ? 'down' : 'up' }}"></i>
    </button>
  </div>
<hr/>
<div class="col-sm-12  pb-3 pl-3 discover" (click)="DiscoverMore()">DiscoverMore</div>   


 </div>
 
 